<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>lnews</key>
		<dict>
			<key>ar</key>
			<string>آخر الأخبار</string>
			<key>en</key>
			<string>Latest News</string>
		</dict>
		<key>cevent</key>
		<dict>
			<key>ar</key>
			<string>الأحداث الجارية</string>
			<key>en</key>
			<string>Current Events</string>
		</dict>
		<key>aUs</key>
		<dict>
			<key>ar</key>
			<string>من نحن</string>
			<key>en</key>
			<string>About</string>
		</dict>
		<key>aUs-title</key>
		<dict>
			<key>ar</key>
			<string>من نحن</string>
			<key>en</key>
			<string>About Us</string>
		</dict>
		<key>Events</key>
		<dict>
			<key>ar</key>
			<string>أحداث</string>
			<key>en</key>
			<string>Events</string>
		</dict>
		<key>Favourites</key>
		<dict>
			<key>ar</key>
			<string>المفضلات</string>
			<key>en</key>
			<string>Favourites</string>
		</dict>
		<key>cUs</key>
		<dict>
			<key>ar</key>
			<string>اتصل بنا</string>
			<key>en</key>
			<string>Contact</string>
		</dict>
		<key>cUs-title</key>
		<dict>
			<key>ar</key>
			<string>اتصل بنا</string>
			<key>en</key>
			<string>Contact Us</string>
		</dict>
		<key>more</key>
		<dict>
			<key>ar</key>
			<string>المزيد من التفاصيل</string>
			<key>en</key>
			<string>More</string>
		</dict>
		<key>history</key>
		<dict>
			<key>ar</key>
			<string>سجل التصفح</string>
			<key>en</key>
			<string>History</string>
		</dict>
		<key>management</key>
		<dict>
			<key>ar</key>
			<string>الإدارة</string>
			<key>en</key>
			<string>Management</string>
		</dict>
		<key>services</key>
		<dict>
			<key>ar</key>
			<string>الخدمات</string>
			<key>en</key>
			<string>Services</string>
		</dict>
		<key>facilities</key>
		<dict>
			<key>ar</key>
			<string>المرافق</string>
			<key>en</key>
			<string>Facilities</string>
		</dict>
		<key>home</key>
		<dict>
			<key>ar</key>
			<string>الصفحة الرئيسية</string>
			<key>en</key>
			<string>Home</string>
		</dict>
		<key>search</key>
		<dict>
			<key>ar</key>
			<string>البحث</string>
			<key>en</key>
			<string>Search</string>
		</dict>
		<key>event_List</key>
		<dict>
			<key>ar</key>
			<string>قائمة الأحداث</string>
			<key>en</key>
			<string>Event List</string>
		</dict>
		<key>event_details</key>
		<dict>
			<key>ar</key>
			<string>تفاصيل الحدث</string>
			<key>en</key>
			<string>Event Details</string>
		</dict>
		<key>imgGallery</key>
		<dict>
			<key>ar</key>
			<string>معرض الصور</string>
			<key>en</key>
			<string>Image Gallery</string>
		</dict>
		<key>videoGallery</key>
		<dict>
			<key>ar</key>
			<string>معرض الفيديو</string>
			<key>en</key>
			<string>Video Gallery</string>
		</dict>
		<key>event_Description</key>
		<dict>
			<key>ar</key>
			<string>وصف الحدث</string>
			<key>en</key>
			<string>Event Description</string>
		</dict>
		<key>exList</key>
		<dict>
			<key>ar</key>
			<string>قائمة العارضين</string>
			<key>en</key>
			<string>Exhibitors List</string>
		</dict>
		<key>regForm</key>
		<dict>
			<key>ar</key>
			<string>استمارة التسجيل</string>
			<key>en</key>
			<string>Registration Form</string>
		</dict>
		<key>brochure</key>
		<dict>
			<key>ar</key>
			<string>المنشورة</string>
			<key>en</key>
			<string>Brochure</string>
		</dict>
		<key>addtoCal</key>
		<dict>
			<key>ar</key>
			<string>إضافة إلى التقويم</string>
			<key>en</key>
			<string>Add to Cal</string>
		</dict>
		<key>locationmap</key>
		<dict>
			<key>ar</key>
			<string>خريطة الموقع</string>
			<key>en</key>
			<string>Location</string>
		</dict>
		<key>share</key>
		<dict>
			<key>ar</key>
			<string>شارك</string>
			<key>en</key>
			<string>Share</string>
		</dict>
		<key>call</key>
		<dict>
			<key>ar</key>
			<string>إتصل </string>
			<key>en</key>
			<string>Call</string>
		</dict>
		<key>mCentre</key>
		<dict>
			<key>ar</key>
			<string>المركز الإعلامي</string>
			<key>en</key>
			<string>Media Centre</string>
		</dict>
		<key>visitInfo</key>
		<dict>
			<key>ar</key>
			<string>معلومات الزوار</string>
			<key>en</key>
			<string>Visitor Info</string>
		</dict>
		<key>sMedia</key>
		<dict>
			<key>ar</key>
			<string>وسائل الاعلام الاجتماعية</string>
			<key>en</key>
			<string>Social Media</string>
		</dict>
		<key>sForm</key>
		<dict>
			<key>ar</key>
			<string>استمارة الاشتراك</string>
			<key>en</key>
			<string>Sub Form</string>
		</dict>
		<key>signIn</key>
		<dict>
			<key>ar</key>
			<string>تسجيل الدخول</string>
			<key>en</key>
			<string>Sign-In</string>
		</dict>
		<key>fb</key>
		<dict>
			<key>ar</key>
			<string>الفيس بوك</string>
			<key>en</key>
			<string>Facebook</string>
		</dict>
		<key>youTube</key>
		<dict>
			<key>ar</key>
			<string>YouTube</string>
			<key>en</key>
			<string>YouTube</string>
		</dict>
		<key>twitter</key>
		<dict>
			<key>ar</key>
			<string>تويتر</string>
			<key>en</key>
			<string>Twitter</string>
		</dict>
		<key>instagram</key>
		<dict>
			<key>ar</key>
			<string>إينستاجرام</string>
			<key>en</key>
			<string>Instagram</string>
		</dict>
		<key>pRelease</key>
		<dict>
			<key>ar</key>
			<string>البيانات الصحفية</string>
			<key>en</key>
			<string>Press Releases</string>
		</dict>
		<key>abSharjah</key>
		<dict>
			<key>ar</key>
			<string>عن الشارقة </string>
			<key>en</key>
			<string>About Sharjah</string>
		</dict>
		<key>tvisitInfo</key>
		<dict>
			<key>ar</key>
			<string>لسفر و تأشيرات الدخول</string>
			<key>en</key>
			<string>Travel &amp; Visa Info</string>
		</dict>
		<key>hotel_shopping</key>
		<dict>
			<key>ar</key>
			<string>الفنادق و التسوق</string>
			<key>en</key>
			<string>Hotels &amp; Shopping</string>
		</dict>
		<key>eventSurvey</key>
		<dict>
			<key>ar</key>
			<string>مسح زوار الحدث</string>
			<key>en</key>
			<string>Event Visitor Survey</string>
		</dict>
		<key>exSurvey</key>
		<dict>
			<key>ar</key>
			<string>مسح العارضين</string>
			<key>en</key>
			<string>Exhibitor Survey</string>
		</dict>
		<key>enq</key>
		<dict>
			<key>ar</key>
			<string>الإستفسارات</string>
			<key>en</key>
			<string>Enquiry</string>
		</dict>
		<key>map</key>
		<dict>
			<key>ar</key>
			<string>خريطة القاعة</string>
			<key>en</key>
			<string>Hall Map</string>
		</dict>
		<key>submit</key>
		<dict>
			<key>ar</key>
			<string>تسجيل</string>
			<key>en</key>
			<string>Submit</string>
		</dict>
		<key>skip</key>
		<dict>
			<key>ar</key>
			<string>تخطى</string>
			<key>en</key>
			<string>Skip</string>
		</dict>
		<key>cancel</key>
		<dict>
			<key>ar</key>
			<string>إلغاء</string>
			<key>en</key>
			<string>Cancel</string>
		</dict>
		<key>add</key>
		<dict>
			<key>ar</key>
			<string>إضافة</string>
			<key>en</key>
			<string>Add</string>
		</dict>
		<key>sponsors</key>
		<dict>
			<key>ar</key>
			<string>الرعاة</string>
			<key>en</key>
			<string>Sponsors</string>
		</dict>
		<key>supporters</key>
		<dict>
			<key>ar</key>
			<string>بدعم من</string>
			<key>en</key>
			<string>Supported by</string>
		</dict>
		<key>mPartners</key>
		<dict>
			<key>ar</key>
			<string>الشركاء الإعلاميين</string>
			<key>en</key>
			<string>Media Partners</string>
		</dict>
		<key>IndustryCategory</key>
		<dict>
			<key>ar</key>
			<string>فئة الصناعة</string>
			<key>en</key>
			<string>Industry Category</string>
		</dict>
		<key>fname</key>
		<dict>
			<key>ar</key>
			<string>الاسم الكامل</string>
			<key>en</key>
			<string>Full Name</string>
		</dict>
		<key>sStatus</key>
		<dict>
			<key>ar</key>
			<string>الحالة الاجتماعية</string>
			<key>en</key>
			<string>Social Status</string>
		</dict>
		<key>sex</key>
		<dict>
			<key>ar</key>
			<string>الجنس</string>
			<key>en</key>
			<string>Sex</string>
		</dict>
		<key>dob</key>
		<dict>
			<key>ar</key>
			<string>تاريخ الميلاد</string>
			<key>en</key>
			<string>Date Of Birth</string>
		</dict>
		<key>indInterest</key>
		<dict>
			<key>ar</key>
			<string>الصناعية الإهتمامات</string>
			<key>en</key>
			<string>Industrial Interest</string>
		</dict>
		<key>username</key>
		<dict>
			<key>ar</key>
			<string>اسم المستخدم</string>
			<key>en</key>
			<string>Username</string>
		</dict>
		<key>password</key>
		<dict>
			<key>ar</key>
			<string>كلمة السر</string>
			<key>en</key>
			<string>Password</string>
		</dict>
		<key>staffLogin</key>
		<dict>
			<key>ar</key>
			<string>Staff Login</string>
			<key>en</key>
			<string>Staff Login</string>
		</dict>
		<key>event_Reg</key>
		<dict>
			<key>ar</key>
			<string>Event Registration</string>
			<key>en</key>
			<string>Event Registration</string>
		</dict>
		<key>event_Description - 17 - 26</key>
		<dict>
			<key>ar</key>
			<string>وصف الحدث</string>
			<key>en</key>
			<string>Event Description</string>
		</dict>
		<key>event_Description - 17 - 27</key>
		<dict>
			<key>ar</key>
			<string>وصف الحدث</string>
			<key>en</key>
			<string>Event Description</string>
		</dict>
		<key>event_Description - 17 - 28</key>
		<dict>
			<key>ar</key>
			<string>وصف الحدث</string>
			<key>en</key>
			<string>Event Description</string>
		</dict>
		<key>event_Description - 17 - 29</key>
		<dict>
			<key>ar</key>
			<string>وصف الحدث</string>
			<key>en</key>
			<string>Event Description</string>
		</dict>
		<key>event_Description - 17 - 30</key>
		<dict>
			<key>ar</key>
			<string>وصف الحدث</string>
			<key>en</key>
			<string>Event Description</string>
		</dict>
	</dict>
</array>
</plist>
