<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>lnews</key>
		<dict>
			<key>ar</key>
			<string>آخر الأخبار</string>
			<key>en</key>
			<string>Latest News</string>
		</dict>
	</dict>
	<dict>
		<key>cevent</key>
		<dict>
			<key>ar</key>
			<string>الأحداث الجارية</string>
			<key>en</key>
			<string>Current Events</string>
		</dict>
	</dict>
</array>
</plist>
